<div class="controls">
  <ul class="nav nav-tabs" style="margin-top:5px" role='tablist'>
    <% field.tabs.each do |tab| %>
      <li class="nav-item" role="presentation">
        <%= link_to tab.label, "#", data: { 'bs-toggle': "tab",  'bs-target': "##{tab.id}" }, class: "nav-link #{'show active ' if tab.active?}#{'text-danger' unless tab.valid?}", role: 'tab' %>
      </li>
    <% end %>
  </ul>
</div>
<div class="tab-content">
  <% field.tabs.each do |tab| %>
    <%= form.fields_for field.name, tab.translation, wrapper: false do |f| %>
      <div class="tab-pane fade <%= 'show active' if tab.active? %>" id="<%= tab.id %>" role='tabpanel'>
        <%= f.generate(action: :nested, model_config: field.associated_model_config, nested_in: field) %>
      </div>
    <% end %>
  <% end %>
</div>